<div class="d-flex flex-wrap">


    <div class="card mb-3 shadow ms-3" style="width: 15rem; min-width: 10rem;" *ngFor="let dvd of dvds">
        <a [routerLink]="['../movie_detail',dvd.id]">
            <img [src]="dvd.photo" class="card-img-top w-100 mx-auto mt-3">
            <mat-icon matBadge={{dvd.quantity}} matBadgeColor="warn" matBadgeSize="medium"></mat-icon>
        </a>
        <div class="card-body">
            <h2 class="card-title">{{ dvd.name }}</h2>
            <h3 style="color: grey;"> {{ dvd.genre }} </h3>
            <p class="card-text me-5" style="color: blue;"> Prix :<span>{{ dvd.price }} €</span></p>
        </div>
    </div>

</div>