<!-- <div class="">

  <div class="d-flex justify-content-center">
    <div class="">

    </div>
    <div class="col-lg-8 m-3">
      <h1 class="mb-5 text-center mt-3">Bienvenue</h1>
      <form #registerForm="ngForm" name="registerModel" (submit)="register()">
        <div class="row g-3">
          <div class="col-sm-7">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control w-25" id="username" placeholder="" value="" required>
            <div class="invalid-feedback">
              Nom obligatoire.
            </div>
          </div>

          <div class="col-12">
            <label for="email" class="form-label">Mot de passe</label>
            <input type="password" class="form-control" id="password" required>
            <div class="invalid-feedback">
              Entrez un password valide.
            </div>
          </div>

        </div>

        <hr class="my-4">

        <div class="text-center">
          <button class=" btn btn-primary btn-lg" type="submit">S'enregistrer</button>
        </div>

      </form>
    </div>
  </div> -->