<h1 class="text-center mt-5 fs-2 ">Ajouter / Modifier</h1>

<div class="w-75 rounded mx-auto mt-5 shadow" style="border: 1px solid #C5A26E;">

    <form #saleForm="ngForm" name="venteModel" (submit)="addSale()" class="mt-4">

        <div class="d-flex flex-wrap mb-5">

            <div class="w-50">

                <!-- Client -->
                <div class="form-floating mb-4 w-100 ms-5 mt-3 shadow">
                    <select [(ngModel)]="venteModel.clientGetDTO" class="form-select" id="id_client"
                        aria-label="Floating label select example" name="id_client">
                        <option *ngFor="let client of clients" [ngValue]="client">{{client.nom}} {{client.prenom}}
                        </option>
                    </select>
                    <label for="floatingSelect">Choisir un Client</label>
                </div>

                <!-- Dvd -->
                <div class="form-floating mb-4 w-100 ms-5 shadow">
                    <select [(ngModel)]="venteModel.dvdStoreGetDTO" class="form-select" id="id_dvd"
                        aria-label="Floating label select example" name="id_dvd">
                        <option *ngFor="let dvd of dvds" [ngValue]="dvd">{{dvd.name}}</option>
                    </select>
                    <label for="floatingSelect">Choisir un DVD</label>
                </div>

                <!-- Montant -->
                <div class="form-floating mb-4 w-75 ms-5 shadow">
                    <input type="number" [(ngModel)]="venteModel.montant" class="form-control" id="montant"
                        placeholder="name@example.com" name="montant" required min="1">
                    <label for="floatingInput">Montant :</label>
                </div>

                <!-- Quantity -->
                <div class="form-floating mb-4 w-75 ms-5 shadow">
                    <input type="number" [(ngModel)]="venteModel.quantity" class="form-control" id="quantity"
                        placeholder="name@example.com" name="quantity" required min="1">
                    <label for="floatingInput">Quantité :</label>
                </div>

            </div>




            <!-- DatePicker -->
            <!-- <div class=" w-25 mx-auto">
                <mat-card class="calendar-card mb-2 shadow" style="border: 1px solid #C5A26E;">
                    <div class="">
                        <mat-label>Input & change events</mat-label>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    </div>

                    <input matInput [matDatepicker]="picker" (dateInput)="addEvent('input', $event)"
                        (dateChange)="addEvent('change', $event)">
                    <mat-datepicker #picker></mat-datepicker>
                </mat-card>
                <p>Date de la vente: {{venteModel.date}}</p>
            </div> -->

            <mat-form-field style="border: 1px solid #C5A26E;" class="rounded shadow w-25 mx-auto h-25 mt-3">
                <mat-label>Date de la vente:</mat-label>
                <input matInput [matDatepicker]="picker" (dateInput)="addEvent('input', $event)"
                    (dateChange)="addEvent('change', $event)">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

        </div>



        <div class="d-flex justify-content-center mb-4">
            <button type="submit" class="btn btn-outline-primary">Valider</button>
        </div>

    </form>
</div>