<ion-header class="py-3 mb-3 border-bottom">
  <div class="ion-page" id="main-content">
    <!-- <ion-header> -->
      <ion-toolbar style="border: 1px solid red;">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>DVDStore</ion-title>
        <div class="position-absolute dropdown me-0">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small shadow">
            <li><a class="dropdown-item" [routerLink]="['profil']">Profil</a></li>
            <li><a class="dropdown-item" href="#">Mon stock</a></li>
            <li><a class="dropdown-item" [routerLink]="['panier_list']">Panier</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="" (click)="logout()">Se déconnecter</a></li>
          </ul>
        </div>
      </ion-toolbar>
      <form class="w-75 me-3" role="search">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>
        
    <!-- </ion-header> -->
  </div>
  <!-- <div class="container-fluid d-grid gap-3 align-items-center ">

    <div class="ms-5 d-flex align-items-center justify-content-center">



    </div>
  </div> -->
</ion-header>