<header class="py-3 mb-3 border-bottom ">
  <div class="container-fluid d-grid gap-3 align-items-center ">

    <div class="ms-5 d-flex align-items-center justify-content-center">
      <form class="w-75 me-3" role="search">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
      </form>

      <div class="flex-shrink-0 dropdown position-absolute end-0 me-4">
        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
          aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small shadow">
          <li><a class="dropdown-item" href="#">Profil</a></li>
          <li><a class="dropdown-item" href="#">Mon stock</a></li>
          <li><a class="dropdown-item" href="#">Mes ventes</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="" (click)="logout()">Se déconnecter</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>